
# Don't track these folders
./data
./modeling/saved_*
./modeling/.ipynb_checkpoints

# Don't track ipython notebook checkpoints
./modeling/.ipynb_checkpoint*
./sequence_design/.ipynb_checkpoint*
./human_5utrs/.ipynb_checkpoint*
